<div class="mx-auto mt-5 ml-6 " style="width: 400px;" >
  ようこそ、　ながのCAKEへ！<br />
  このサイトは、　ケーキ販売のECサイトになります。<br />
  会員でない方も商品の閲覧はできますが、<br />
  購入には会員登録が必要になります。
</div>

<div class="mx-auto mt-6" style="width: 800px;" >
  <h2><strong>新着商品</strong></h2>
</div>