<div class="container">
  <div class="row mt-4">
    <div class="col-md-5">
      <%= image_tag @item.image, size: "300x200" %>
    </div>

    <div class="col-md-5 ml-4">
      <h2><%= @item.name %></h2><br />
      <h6><%= @item.introduction %></h6><br />
      <h4><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong><small>(税込)</small></h4>
      
      
    </div>
  </div>
</div>